* {
	margin: 0;
	padding: 0;
}
@charset "utf-8";
/* CSS Document */

body {
	background-image:url(../images/bg-pattern.jpg);
	}
.wrapper {
	background-color: #FFFFFF;
	height: 100%;
	width: 960px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
#outro {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 14px;
	color: #666666;
	padding-top: 20px;
	height: 60px;
}

.content h1{
	color: #461E60;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 18px;
	letter-spacing: -0.7px;
	font-style: normal;
}
.attentiontxt  {
	color: #461E60;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 14px;
}

.content {
	margin: 40px 0px 0px 50px;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 14px;
	color: #666666;
	position: relative;
	background-image: url(../images/personaj.jpg);
	background-repeat: no-repeat;
	background-position: 400px 100px;
}
.content p {
	padding: 15px 0px 15px 0px;
}
.content ul {
	list-style-image:url(../images/marker-ico.jpg);
	padding-left: 20px;
}
.content li {
	line-height: 1.5;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 14px;
}
.textcontent {
	position: relative;
	width: 500px;
}
.men {
	width:465px;
	height:486px;
	background-image:url(../images/personaj.jpg);
	background-repeat: no-repeat;
	position: absolute;
	right: -450px;
	display: inline-block;
	bottom: -80px;
	z-index: 50;

}

#logo {
	background-image: url(../images/glowline-logo.png);
	background-repeat: no-repeat;
	height: 140px;
	width: 183px;
	position: relative;
	top: 41px;
	left: 33px;
}
#logo a {
display: block;
height: 100%;
}
.nav {
	background-color: #2F1445;
	height: 34px;
	width: 960px;
}

.button {
	height: 56px;
	width: 57px;
	background-image: url(../images/home-ico-normal.png);
	position: relative;
	left: 90px;
	bottom: 10px;
}
.button a {
display: block;
height: 100%;	
}
.button a:hover {
height: 56px;
	width: 57px;
	background-image: url(../images/home-ico-dark.png);
}
.header {
	height: 232px;
	width: 100%;
	background-image: url(../images/header-bg.jpg);
	background-repeat: repeat-x;
}
#nav{
	margin: 0; /*navigation*/
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: center;
	width: 600px;
	float: left;
	height: 34px;
	left: 180px;
}
#nav ul{
	display:block;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	height: 34px;
	width: 600px;
	position: relative;
	left: 20px;
	top: 0px;
	
	
}
#nav li {
	width: 150px;
	height: 34px;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: center;
	float: left;
	font-family: Tahoma, Arial, sans-serif;
	}

#nav a {
	display: block;
	background-color: #2F1445;
	color: #CABFCF;
	text-decoration: none;
	padding-top: 7px;
	padding-bottom: 8px;
}
#nav a:hover {
background-color: #240D36;
	color: #CABFCF;
}
#nav a.izo {
background-image:url(../images/menu-ico-down.png);
	background-repeat: no-repeat;
	background-position: 90% 50%;
}
#attention-box {
	width:462px;
	height:173px;
	background-image:url(../images/attention-box.jpg);
	background-repeat: no-repeat;
	position:relative;
	padding-left: 20px;
	left: -20px;
	top: 10px;
}
a.text {
color:#461E60;
}

.up-ico {
	width: 64px;
	height: 38px;
	background-image:url(../images/up-ico.jpg);
	background-repeat:no-repeat;
	position:relative;
	float:right;
	right: 72px;
	top: 10px;
}
#outro p {
	padding-top: 15px;
	padding-bottom: 10px;
}

.up-ico a {
display: block;
height: 100%;
}
.footer {
	height: 67px;
	width: 960px;
	background:#F3F3F3;
	padding: 0;
	margin: 0 auto;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 14px;
	color: #666666;
	border: 1px solid #E3E3E3;
}
.footer p{
	text-align: center;
	padding-top: 28px;
}
